<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Pixelstrap - Admin Document">
  <meta name="keywords" content="Pixelstrap - Admin Document">
  <meta name="author" content="pixelstrap">
  <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon">
  <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
  <title>Pixelstrap - Admin Document</title>
  <!-- Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/flag-icon.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/icofont.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/themify.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/prism.css">
  <!-- Font Awesome-->
  <link rel="stylesheet" type="text/css" href="../assets/css/fontawesome.css">
  <!-- Feather icon-->
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/feather-icon.css">
  <!-- animate-->
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/animate.css">
  <!-- Bootstrap css-->
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">
  <!-- App css-->
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>

<body class="document full-width-doc sticky-nav-doc" data-bs-spy="scroll" data-bs-target="#myScrollspy"
  data-bs-offset="0">
  <!-- tap on top starts-->
  <div class="tap-top"><i data-feather="chevrons-up"></i>
    <p>Top</p>
  </div>
  <!-- tap on tap ends-->
  <div>
    <div class="home-section">
      <nav class="navbar navbar-expand-lg">
        <div class="container custom-container">
          <div class="main-menu"><a class="navbar-brand" href="index.html"> <img src="../assets/images/logo/logo.png"
                alt=""></a>
            <div>
              <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"> </i></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav menu">
                  <li class="nav-item active"><a class="nav-link" href="https://1.envato.market/3GVzd" role="button"
                      aria-haspopup="true" aria-expanded="false" target="_blank">Purchase</a></li>
                  <li class="nav-item"><a class="nav-link" href="https://pixelstrap.freshdesk.com/" role="button"
                      aria-haspopup="true" aria-expanded="false" target="_blank">Support</a></li>
                  <li class="nav-item"><a class="nav-link"
                      href="http://admin.pixelstrap.com/Mofi/theme/landing-page.html" role="button" aria-haspopup="true"
                      aria-expanded="false" target="_blank">Demo</a></li>
                  <li class="nav-item"><a class="nav-link"
                      href="http://admin.pixelstrap.com/Mofi/theme/landing-page.html#frameworks" role="button"
                      aria-haspopup="true" aria-expanded="false" target="_blank">Feature </a></li>
                </ul>
              </div>
            </div>
            <ul class="nav-right">
              <li>
                <div class="d-lg-none d-block"><a class="toggle-sidebar" href="#"><i class="fa fa-sliders"></i></a>
                </div>
              </li>
              <li>
                <div class="btn-group"><a class="decrease btn btn-doc" href="#" title="Decrease font size">A-</a><a
                    class="reset btn btn-doc" href="#" title="Default font size">A</a><a class="increase btn btn-doc"
                    href="#" title="Increase font size">A+</a></div>
              </li>
              <li><a class="btn btn-light mode" href="#" title="Dark"><i class="fa fa-moon-o"></i><span>Dark</span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container custom-container">
        <div class="search-input">
          <div class="input-group mb-md-3 mb-0">
            <input type="text" class="form-control" placeholder="search anything here" aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2"><i data-feather="search"></i></span>
          </div>
          <div class="popular-search">
            <span>Popular Search:</span>
            <ul>
              <li><a href="index.html"><span class="badge bg-primary">Starter kit</span></a></li>
              <li><a href="basic-ui.html"><span class="badge bg-primary">Element</span></a></li>
              <li><a href="advance-ui.html"><span class="badge bg-primary">components</span></a></li>
              <li><a href="forms.html"><span class="badge bg-primary">forms</span></a></li>
              <li><a href="tables.html"><span class="badge bg-primary">tables</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="effect-sec">
        <img src="../assets/images/girl.png" class="img-fluid girl-img" alt="">
      </div>
    </div>
  </div>
  <div class="container custom-container">
    <div class="document-main">
      <div class="left-sidebar">
        <aside>
          <ul class="list-unstyled nav-sidebar doc-nav">
            <li class="nav-item">
              <div class="title"><a class="nav-link" href="index.html"><img src="../assets/images/angular/angular.png"
                    alt="" />Getting Started</a></div>
              <ul class="dropdown-nav">
                <li class="nav-item"><a class="nav-link" href="index.html">Getting Started</a></li>
                <li class="nav-item"><a class="nav-link" href="tree.html">Our Structure</a></li>
                <li class="nav-item"><a class="nav-link" href="feature-list.html">Avaiable Features</a></li>
                <li class="nav-item"><a class="nav-link" href="installation.html">Installation</a></li>
                <li class="nav-item"><a class="nav-link" href="sidebar-options.html">Sidebar Options</a></li>
                <li class="nav-item"><a class="nav-link" href="unlimited-colors.html">Unlimited Colors</a></li>
                <li class="nav-item"><a class="nav-link" href="mix-layout.html">Mix Layout</a></li>
                <li class="nav-item"><a class="nav-link" href="layout-types.html">Layout Types</a></li>
                <li class="nav-item"><a class="nav-link" href="scss-structure.html">SCSS Structure</a></li>
                <li class="nav-item"><a class="nav-link" href="dark.html">Dark</a></li>
                <li class="nav-item"><a class="nav-link" href="sidbar.html">Sidebar</a></li>
                <li class="nav-item"><a class="nav-link" href="create-new-page.html">Create New Page</a></li>
                <li class="nav-item"><a class="nav-link" href="delete-a-page.html">Delete A Page</a></li>
                <li class="nav-item"><a class="nav-link" href="routing.html">Routing</a></li>
                <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="loader.html">Loader</a></li>
                <li class="nav-item"><a class="nav-link" href="multi-language.html">Multi Language</a></li>
                
                <li class="nav-item"><a class="nav-link" href="options.html">Our Layouts</a> </li>
              </ul>
            </li>
            <li class="nav-item">
              <div class="title"><a class="nav-link" href="basic-ui.html"><img
                    src="../assets/images/angular/angular.png" alt="" />Components</a></div>
              <ul class="dropdown-nav">
                <li class="nav-item"><a class="nav-link" href="basic-ui.html">Basic UI Elements</a></li>
                <li class="nav-item"><a class="nav-link" href="advance-ui.html">Advance UI Elements</a></li>
                <li class="nav-item"><a class="nav-link" href="icons.html">Icons</a></li>
                <li class="nav-item"><a class="nav-link" href="forms.html">Forms</a></li>
                <li class="nav-item"><a class="nav-link" href="tables.html">Tables</a></li>
                <li class="nav-item"><a class="nav-link" href="cards.html">Cards</a></li>
                <li class="nav-item"><a class="nav-link" href="timeline.html">Timeline</a></li>
                <li class="nav-item"><a class="nav-link" href="charts.html">Charts</a></li>
                <li class="nav-item"><a class="nav-link" href="maps.html">Maps</a></li>
                <li class="nav-item"><a class="nav-link" href="editors.html">Editors</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <div class="title"><a class="nav-link" href="ecommerce.html"><img
                    src="../assets/images/angular/angular.png" alt="" />Useful Apps</a></div>
              <ul class="dropdown-nav">
                <li class="nav-item"><a class="nav-link" href="ecommerce.html">Ecommerce</a></li>
                <li class="nav-item"><a class="nav-link" href="chat.html">Chat</a></li>
                <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="to-do.html">To-Do</a></li>
                <li class="nav-item"><a class="nav-link" href="email.html">Email</a></li>
                <li class="nav-item"><a class="nav-link" href="bookmark-search.html">Bookmark Search</a></li>
                <li class="nav-item"><a class="nav-link" href="calender.html">Calender</a></li>
                <li class="nav-item"><a class="nav-link" href="other-app.html">Other Apps</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <div class="title">
                <a class="nav-link" href="accordian.html"><img src="../assets/images/angular/angular.png"
                    alt="" />Faq</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="title">
                <a class="nav-link" href="credits.html"><img src="../assets/images/angular/angular.png"
                    alt="" />Credits</a>
              </div>
            </li>
          </ul>
        </aside>
      </div>
      <div class="content">
        <div id="section-1">
          <h4 class="main-title mb-0">Icons</h4>
          <hr>
          <div id="section-1-1">
            <h4 class="sub-title mb-0 title-with-link">Flag Icons
              <span class="d-flex gap-1">
                <a class="badge badge-primary-light" href="https://cdnjs.com/libraries/flag-icon-css"
                  target="_blank">Offical
                  link
                  <i data-feather="arrow-up-right"></i></a>
                <a class="badge badge-primary-light" href="https://admin.pixelstrap.net/dunzo/template/form-validation.html"
                  target="_blank">Preview
                  link
                  <i data-feather="arrow-up-right"></i></a>
              </span>
            </h4>
            <div class="fluid-container pt-3">
              <h5 class="pb-2 inner-sub-title mt-0">You have to add the following style and add flag-icon folder in your
                fonts folder
              </h5><i class="flag-icon flag-icon-in mx-1"></i><i class="flag-icon flag-icon-ad mx-1"></i><i
                class="flag-icon flag-icon-ae mx-1"></i><i class="flag-icon flag-icon-af mx-1"></i>
              <div class="code-box-copy">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#flagicon" title="Copy"><i
                    class="fa fa-files-o"></i></button>
                <pre><code class="language-html" id="flagicon">@import &quot;./flag-icon.scss&quot;;</code></pre>
              </div>
              <div class="code-box-copy">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#flagicon1" title="Copy"><i
                    class="fa fa-files-o"></i></button>
                <pre><code class="language-html" id="flagicon1">&lt;div class=&quot;container-fluid&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-sm-12&quot;&gt;
            &lt;div class=&quot;card&quot;&gt;
                &lt;div class=&quot;card-header&quot;&gt;   
                    &lt;h4 class=&quot;m-b-0&quot;&gt;Flag Icons&lt;/h4&gt;
                &lt;/div&gt;
                &lt;div class=&quot;card-body&quot;&gt;
                    &lt;div class=&quot;row icon-lists flag-icons&quot;&gt;
                        &lt;div class=&quot;col-12 col-sm-6 col-xl-4&quot; *ngFor=&quot;let i of icon&quot;
                            (click)=&quot;toggleWithInfo(i.abbrivation)&quot;&gt;
                            &lt;div class=&quot;d-flex&quot;&gt;
                                &lt;i class=&quot;flag-icon flag-icon-{{i.abbrivation}}&quot;&gt;&lt;/i&gt;
                                &lt;div class=&quot;flex-grow-1 align-self-center&quot;&gt;
                                    &lt;h5&gt;{{i.abbrivation|uppercase}}&lt;/h5&gt;
                                    &lt;h6 class=&quot;mt-0&quot;&gt;{{i.name}}&lt;/h6&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;icon-hover-bottom p-fixed&quot; *ngIf=&quot;detail&quot;&gt;
    &lt;div class=&quot;container-fluid&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;icon-popup&quot;&gt;
                &lt;div class=&quot;close-icon&quot;&gt;&lt;i class=&quot;icofont icofont-close&quot; (click)=&quot;detail=false&quot;&gt;&lt;/i&gt;&lt;/div&gt;
                &lt;div class=&quot;icon-first&quot;&gt;&lt;i class=&quot;flag-icon flag-icon-{{flag}} fa-2x text-white&quot; id=&quot;icon_main&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                &lt;div class=&quot;icon-class&quot;&gt;
                    &lt;label class=&quot;icon-title&quot;&gt;Class&lt;/label&gt;&lt;span id=&quot;fclass1&quot;&gt;flag-icon flag-icon-{{flag}}&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class=&quot;icon-last icon-last&quot;&gt;
                    &lt;label class=&quot;icon-title&quot;&gt;Markup&lt;/label&gt;
                    &lt;div class=&quot;form-inline&quot;&gt;
                        &lt;div class=&quot;form-group&quot;&gt;
                            &lt;input class=&quot;inp-val form-control m-r-10&quot; id=&quot;input_copy&quot; type=&quot;text&quot; value=&quot;{{val}}&quot;
                                readonly=&quot;readonly&quot;&gt;
                            &lt;button class=&quot;btn btn-primary notification&quot; (click)=&quot;copyText(flag)&quot;&gt;Copy text&lt;/button&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
              </div>
              <p>you have add ts files</p>
              <div class="code-box-copy">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#flag3" title="Copy"><i
                    class="fa fa-files-o"></i></button>
                <pre><code class="language-html" id="flag3">import { Component } from &quot;@angular/core&quot;;
import { icon } from &quot;../../../shared/data/data/icons/flag-icon&quot;;
import { ToastrService } from &quot;ngx-toastr&quot;;

@Component({
  selector: &quot;app-flag-icons&quot;,
  templateUrl: &quot;./flag-icons.component.html&quot;,
  styleUrls: [&quot;./flag-icons.component.scss&quot;],
})
export class FlagIconsComponent {
  public icon = icon;
  public detail: boolean = false;
  public flag: string;
  public val: string;
  
  constructor(public toastrService: ToastrService) {}

  toggleWithInfo(icon: string) {
    this.detail = true;
    this.flag = icon;
    this.val = '&lt;i class=&quot;flag-icon flag-icon-' + icon + '&quot;&gt;&lt;/i&gt;';
  }

  copyText(val: string) {
    let selBox = document.createElement(&quot;textarea&quot;);
    selBox.style.position = &quot;fixed&quot;;
    selBox.style.left = &quot;0&quot;;
    selBox.style.top = &quot;0&quot;;
    selBox.style.opacity = &quot;0&quot;;
    selBox.value = '&lt;i class=&quot;flag-icon flag-icon-' + val + '&quot;&gt;&lt;/i&gt;';
    document.body.appendChild(selBox);
    selBox.focus();
    selBox.select();
    document.execCommand(&quot;copy&quot;);
    document.body.removeChild(selBox);
    this.toastrService.show(
      '&lt;p class=&quot;mb-0 mt-1&quot;&gt;Code Copied to clipboard&lt;/p&gt;',
      &quot;&quot;,
      {
        closeButton: true,
        enableHtml: true,
        positionClass: &quot;toast-bottom-right&quot;,
      }
    );
  }
}
</code></pre>
              </div>
              <p>flag data files</p>
              <div class="code-box-copy">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#flegdata" title="Copy"><i
                    class="fa fa-files-o"></i></button>
                <pre><code class="language-html" id="flegdata">
     export const icon = [
      { abbrivation: 'in', name: 'India Flag' },
      { abbrivation: 'ad', name: 'Andorra Flag' },
      { abbrivation:'ae', name: 'United Arab Emirates Flag' },
      { abbrivation: 'af', name: 'Afghanistan Flag' },

   ]
</code></pre>
              </div>
            </div>
          </div>
        </div>
        <div id="section-1-2">
          <h4 class="sub-title mb-0 title-with-link">Font awesome
            <span class="d-flex gap-1">
              <a class="badge badge-primary-light" href="https://fontawesome.com/" target="_blank">Offical
                link
                <i data-feather="arrow-up-right"></i></a>
              <a class="badge badge-primary-light" href="https://admin.pixelstrap.net/dunzo/template/form-validation.html"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </span>
          </h4>
          <div class="fluid-container pt-3">
            <h5 class="pb-2 inner-sub-title mt-0">You have to add the following style and add font-awesome folder in
              your fonts folder
            </h5><i class="fa fa-bluetooth mx-1"></i><i class="fa fa-bitcoin mx-1"></i><i
              class="fa fa-anchor mx-1"></i><i class="fa fa-text-height mx-1"></i>
            <div class="code-box-copy">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#fontawesome" title="Copy"><i
                  class="fa fa-files-o"></i></button>
              <pre><code class="language-html" id="fontawesome">@import &quot;./fontawesome.scss&quot;</code></pre>
            </div>
            <div class="code-box-copy">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#fontawesome1" title="Copy"><i
                  class="fa fa-files-o"></i></button>
              <pre><code class="language-html" id="fontawesome1"> &lt;div class=&quot;container-fluid&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-sm-12&quot;&gt;
            &lt;div class=&quot;card&quot; *ngFor=&quot;let item of fontawesome&quot;&gt;
                &lt;div class=&quot;card-header&quot;&gt;
                    &lt;h4 class=&quot;m-b-0&quot;&gt;{{item.title}}&lt;/h4&gt;
                &lt;/div&gt;
                &lt;div class=&quot;card-body&quot;&gt;
                    &lt;div class=&quot;row icon-lists&quot;&gt;
                        &lt;div class=&quot;col-sm-6 col-md-4 col-xl-3&quot; *ngFor=&quot;let i of item.icons&quot;
                            (click)=&quot;toggleWithInfo(i)&quot;&gt;
                            &lt;i class=&quot;fa fa-{{i}}&quot;&gt;&lt;/i&gt; fa fa-{{i}}
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;icon-hover-bottom p-fixed&quot; *ngIf=&quot;detail&quot;&gt;
    &lt;div class=&quot;container-fluid&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;icon-popup&quot;&gt;
                &lt;div class=&quot;close-icon&quot;&gt;&lt;i class=&quot;icofont icofont-close&quot; (click)=&quot;detail=false&quot;&gt;&lt;/i&gt;&lt;/div&gt;
                &lt;div class=&quot;icon-first&quot;&gt;&lt;i class=&quot;fa fa-{{icon}} fa-2x&quot; id=&quot;icon_main&quot;&gt;&lt;/i&gt;&lt;/div&gt;
                &lt;div class=&quot;icon-class&quot;&gt;
                    &lt;label class=&quot;icon-title&quot;&gt;Class&lt;/label&gt;&lt;span id=&quot;fclass1&quot;&gt;fa fa-{{icon}}&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class=&quot;icon-last icon-last&quot;&gt;
                    &lt;label class=&quot;icon-title&quot;&gt;Markup&lt;/label&gt;
                    &lt;div class=&quot;form-inline&quot;&gt;
                        &lt;div class=&quot;form-group mb-0&quot;&gt;
                            &lt;input class=&quot;inp-val form-control m-r-10&quot; id=&quot;input_copy&quot; type=&quot;text&quot; value=&quot;{{val}}&quot;
                                readonly=&quot;readonly&quot;&gt;
                            &lt;button class=&quot;btn btn-primary notification&quot; (click)=&quot;copyText(icon)&quot;&gt;Copy text&lt;/button&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
            <p>you have add ts files</p>
            <div class="code-box-copy">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#fontawesome2" title="Copy"><i
                  class="fa fa-files-o"></i></button>
              <pre><code class="language-html" id="fontawesome2">import { Component } from '@angular/core';
import { ToastrService } from 'ngx-toastr';
import { allIcon } from '../../../shared/data/data/icons/font-awasome';

@Component({
  selector: 'app-font-awesome',
  templateUrl: './font-awesome.component.html',
  styleUrls: ['./font-awesome.component.scss']
})

export class FontAwesomeComponent {

  public fontawesome = allIcon.fontawesome;
  public detail : boolean =false;
  public icon : string;
  public val : string;

  constructor( public toastrService:ToastrService) { }

  toggleWithInfo(icon: string) {
    this.detail=true;
    this.icon=icon;
    this.val='&lt;i class=&quot;fa fa-' + icon + '&quot;&gt;&lt;/i&gt;';
  }

  copyText(val: string) {
    let selBox = document.createElement('textarea');
    selBox.style.position = 'fixed';
    selBox.style.left = '0';
    selBox.style.top = '0';
    selBox.style.opacity = '0';
    selBox.value = '&lt;i class=&quot;fa fa-' + val + '&quot;&gt;&lt;/i&gt;';
    document.body.appendChild(selBox);
    selBox.focus();
    selBox.select();
    document.execCommand('copy');
    document.body.removeChild(selBox);
    this.toastrService.show('&lt;p class=&quot;mb-0 mt-1&quot;&gt;Code Copied to clipboard&lt;/p&gt;', '', { closeButton: true, enableHtml:true, positionClass:'toast-bottom-right'});
  }

}

</code></pre>
            </div>
            <p>fontawesome data files</p>
            <div class="code-box-copy">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#fontdata" title="Copy"><i
                  class="fa fa-files-o"></i></button>
              <pre><code class="language-html" id="fontdata">
export class allIcon {

   static fontawesome = [
        {
            title: 'Icon 20',
            icons: ["bluetooth", "bluetooth-b", "codiepie", "credit-card-alt"]
        },
  
      ]
}
</code></pre>
            </div>
          </div>
        </div>
        <div id="section-1-3">
          <h4 class="sub-title mb-0 title-with-link">Ico icon
            <span class="d-flex gap-1">
              <a class="badge badge-primary-light" href="https://icofont.com/icons" target="_blank">Offical
                link
                <i data-feather="arrow-up-right"></i></a>
              <a class="badge badge-primary-light" href="https://admin.pixelstrap.net/dunzo/template/form-validation.html"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </span>
          </h4>
          <div class="fluid-container pt-3">
            <h5 class="pb-2 inner-sub-title mt-0">You have to add the following style and add ico folder in your fonts
              folder</h5><i class="icofont icofont-bow mx-1"></i><i class="icofont icofont-animal-dolphin mx-1"></i><i
              class="icofont icofont-brand-apple mx-1"></i><i class="icofont icofont-bank-alt mx-1"></i>
            <div class="code-box-copy">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#icoicon" title="Copy"><i
                  class="fa fa-files-o"></i></button>
              <pre><code class="language-html" id="icoicon">@import &quot;./icofont.scss&quot;</code></pre>
            </div>
            <div class="code-box-copy">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#icoicon1" title="Copy"><i
                  class="fa fa-files-o"></i></button>
              <pre><code class="language-html" id="icoicon1">&lt;div class=&quot;container-fluid&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-sm-12&quot;&gt;
                        &lt;div class=&quot;card&quot; *ngFor=&quot;let item of icoIcons&quot;&gt;
                            &lt;div class=&quot;card-header&quot;&gt;
                                &lt;h4 class=&quot;m-b-0&quot;&gt;{{item.title}}&lt;/h4&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;card-body&quot;&gt;
                                &lt;div class=&quot;row icon-lists&quot;&gt;
                                    &lt;div class=&quot;col-sm-6 col-md-6 col-lg-4&quot; *ngFor=&quot;let icon of item.icons&quot;
                                        (click)=&quot;toggleWithInfo(icon)&quot;&gt;
                                        &lt;i class=&quot;icofont icofont-{{icon}}&quot;&gt;&lt;/i&gt;{{icon}}
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;icon-hover-bottom p-fixed&quot; *ngIf=&quot;detail&quot;&gt;
                &lt;div class=&quot;container-fluid&quot;&gt;
                    &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;icon-popup&quot;&gt;
                            &lt;div class=&quot;close-icon&quot;&gt;&lt;i class=&quot;icofont icofont-close&quot; (click)=&quot;detail=false&quot;&gt;&lt;/i&gt;&lt;/div&gt;
                            &lt;div class=&quot;icon-first&quot;&gt;&lt;i class=&quot;icofont icofont-{{icon}} fa-2x&quot;&gt;&lt;/i&gt;&lt;/div&gt;
                            &lt;div class=&quot;icon-class&quot;&gt;
                                &lt;label class=&quot;icon-title&quot;&gt;Class&lt;/label&gt;&lt;span id=&quot;fclass1&quot;&gt;icofont icofont-{{icon}}&lt;/span&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;icon-last icon-last&quot;&gt;
                                &lt;label class=&quot;icon-title&quot;&gt;Markup&lt;/label&gt;
                                &lt;div class=&quot;form-inline&quot;&gt;
                                    &lt;div class=&quot;form-group mb-0&quot;&gt;
                                        &lt;input class=&quot;inp-val form-control m-r-10&quot; id=&quot;input_copy&quot; type=&quot;text&quot; value=&quot;{{val}}&quot;
                                            readonly=&quot;readonly&quot;&gt;
                                        &lt;button class=&quot;btn btn-primary notification&quot; (click)=&quot;copyText(icon)&quot;&gt;Copy text&lt;/button&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;</code></pre>
            </div>
            <p>you have add ts files</p>
            <div class="code-box-copy">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#ico2" title="Copy"><i
                  class="fa fa-files-o"></i></button>
              <pre><code class="language-html" id="ico2">import { Component } from '@angular/core';
import { allIcon } from '../../../shared/data/data/icons/font-awasome';
import { ToastrService } from 'ngx-toastr';

@Component({
  selector: 'app-ico-icon',
  templateUrl: './ico-icon.component.html',
  styleUrls: ['./ico-icon.component.scss']
})

export class IcoIconComponent {

  public icoIcons = allIcon.ico;
  public detail: boolean = false;
  public icon: string;
  public val: string;

  constructor(public toastrService: ToastrService) { }

  toggleWithInfo(icon: string) {
    this.detail = true;
    this.icon = icon;
    this.val = '<i class="icofont icofont-' + icon + '"></i>';
  }

  copyText(val: string) {
    let selBox = document.createElement('textarea');
    selBox.style.position = 'fixed';
    selBox.style.left = '0';
    selBox.style.top = '0';
    selBox.style.opacity = '0';
    selBox.value = '<i class="icofont icofont-' + val + '"></i>';
    document.body.appendChild(selBox);
    selBox.focus();
    selBox.select();
    document.execCommand('copy');
    document.body.removeChild(selBox);
    this.toastrService.show('<p class="mb-0 mt-1">Code Copied to clipboard</p>', '', { closeButton: true, enableHtml: true, positionClass: 'toast-bottom-right' });

  }

}

</code></pre>
            </div>
            <p>Ico icon data files</p>
            <div class="code-box-copy">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#icodata" title="Copy"><i
                  class="fa fa-files-o"></i></button>
              <pre><code class="language-html" id="icodata">
export class allIcon {

    static ico = [
    {
      title: 'Abstract',
      icons: ["angry-monster", "bathtub", "bird-wings", "bow"]
    },
  }
</code></pre>
            </div>
          </div>
          <p class="mb-2">
            To use another types of ico icons you have to refer below template link</p>
        </div>
        <div id="section-1-4">
          <h4 class="sub-title mb-0 title-with-link">Themify
            <span class="d-flex gap-1">
              <a class="badge badge-primary-light" href="https://themify.me/themify-icons" target="_blank">Offical
                link
                <i data-feather="arrow-up-right"></i></a>
              <a class="badge badge-primary-light" href="https://angular.pixelstrap.net/dunzo/icon/themify-icon"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </span>
          </h4>
          <div class="fluid-container pt-3">
            <h5 class="pb-2 inner-sub-title mt-0">You have to add the following style and add themify folder in your
              fonts folder</h5>
            <i class="icon-fullscreen mx-1"></i><i class="icon-save-alt mx-1"></i><i class="icon-volume mx-1"></i><i
              class="icon-instagram mx-1"></i>
            <div class="code-box-copy">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#themifyicon" title="Copy"><i
                  class="fa fa-files-o"></i></button>
              <pre><code class="language-html" id="themifyicon">
@import&quot;./themify.scss&quot;;</code></pre>
            </div>
            <div class="code-box-copy">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#themifyicon1" title="Copy"><i
                  class="fa fa-files-o"></i></button>
              <pre><code class="language-html" id="themifyicon1">&lt;div class=&quot;container-fluid&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-sm-12&quot;&gt;
        &lt;div class=&quot;card&quot; *ngFor=&quot;let item of themify&quot;&gt;
          &lt;div class=&quot;card-header&quot;&gt;
            &lt;h4 class=&quot;m-b-0&quot;&gt;{{item.title}}&lt;/h4&gt;
          &lt;/div&gt;
          &lt;div class=&quot;card-body&quot;&gt;
            &lt;div class=&quot;row icon-lists&quot;&gt;
              &lt;div class=&quot;col-sm-6 col-md-6 col-lg-4&quot; *ngFor=&quot;let i of item.icons&quot; (click)=&quot;toggleWithInfo(i)&quot;&gt;
                &lt;i class=&quot;{{i}}&quot;&gt;&lt;/i&gt; {{i}}&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;icon-hover-bottom p-fixed&quot; *ngIf=&quot;detail&quot;&gt;
    &lt;div class=&quot;container-fluid&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;icon-popup&quot;&gt;
                &lt;div class=&quot;close-icon&quot;&gt;&lt;i class=&quot;icofont icofont-close&quot; (click)=&quot;detail=false&quot;&gt;&lt;/i&gt;&lt;/div&gt;
                &lt;div class=&quot;icon-first&quot;&gt;&lt;i class=&quot;{{icon}} fa-2x&quot;&gt;&lt;/i&gt;&lt;/div&gt;
                &lt;div class=&quot;icon-class&quot;&gt;
                    &lt;label class=&quot;icon-title&quot;&gt;Class&lt;/label&gt;&lt;span id=&quot;fclass1&quot;&gt;{{icon}}&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class=&quot;icon-last icon-last&quot;&gt;
                    &lt;label class=&quot;icon-title&quot;&gt;Markup&lt;/label&gt;
                    &lt;div class=&quot;form-inline&quot;&gt;
                        &lt;div class=&quot;form-group mb-0&quot;&gt;
                            &lt;input class=&quot;inp-val form-control m-r-10&quot; id=&quot;input_copy&quot; type=&quot;text&quot; value=&quot;{{val}}&quot;
                                readonly=&quot;readonly&quot;&gt;
                            &lt;button class=&quot;btn btn-primary notification&quot; (click)=&quot;copyText(icon)&quot;&gt;Copy text&lt;/button&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
            <p>you have add ts files</p>
            <div class="code-box-copy">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#themifyicon11" title="Copy"><i
                  class="fa fa-files-o"></i></button>
              <pre><code class="language-html" id="themifyicon11">import { Component } from '@angular/core';
import { allIcon } from '../../../shared/data/data/icons/font-awasome';
import { ToastrService } from 'ngx-toastr';

@Component({
  selector: 'app-themify-icon',
  templateUrl: './themify-icon.component.html',
  styleUrls: ['./themify-icon.component.scss']
})

export class ThemifyIconComponent {

  public themify = allIcon.themify;
  public detail: boolean = false;
  public icon: string;
  public val: string;
  
  constructor(public toastrService:ToastrService) { }

  toggleWithInfo(icon: string) {
    this.detail = true;
    this.icon = icon;
    this.val = '<i class="' + icon + '"></i>';
  }

  copyText(val: string) {
    let selBox = document.createElement('textarea');
    selBox.style.position = 'fixed';
    selBox.style.left = '0';
    selBox.style.top = '0';
    selBox.style.opacity = '0';
    selBox.value = '<i class="' + val + '"></i>';
    document.body.appendChild(selBox);
    selBox.focus();
    selBox.select();
    document.execCommand('copy');
    document.body.removeChild(selBox);
    this.toastrService.show('<p class="mb-0 mt-1">Code Copied to clipboard</p>', '', { closeButton: true, enableHtml: true, positionClass: 'toast-bottom-right' });
  }

}

</code></pre>
            </div>
            <p>themify icon data files</p>
            <div class="code-box-copy">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#themifyicondata" title="Copy"><i
                  class="fa fa-files-o"></i></button>
              <pre><code class="language-html" id="themifyicondata">
export class allIcon {

static themify = [
  {
    title: 'Arrows & Direction Icons',
    icons: ["icon-arrow-up", "icon-arrow-right", "icon-arrow-left", "icon-arrow-down"]
  },

}
</code></pre>
            </div>
          </div>
        </div>
        <div id="section-1-5">
          <h4 class="sub-title mb-0 title-with-link">Feather icon
            <span class="d-flex gap-1">
              <a class="badge badge-primary-light" href="https://feathericons.com/" target="_blank">Offical
                link
                <i data-feather="arrow-up-right"></i></a>
              <a class="badge badge-primary-light" href="https://angular.pixelstrap.net/dunzo/icon/feather-icon"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </span>
          </h4>
          <div class="fluid-container pt-3">
            <h5 class="pb-2 inner-sub-title mt-0">You have to add the following style and add feather folder in your
              fonts folder</h5>
            <i class="mx-1" data-feather="activity"></i><i class="mx-1" data-feather="image"></i><i class="mx-1"
              data-feather="phone-forwarded"></i><i class="mx-1" data-feather="wind"></i>
            <div class="code-box-copy">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#feathericon" title="Copy"><i
                  class="fa fa-files-o"></i></button>
              <pre><code class="language-html" id="feathericon">@import &quot;./feathericon.scss&quot;</code></pre>
            </div>
            <div class="code-box-copy">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#feathericon1" title="Copy"><i
                  class="fa fa-files-o"></i></button>
              <pre><code class="language-html" id="feathericon1">&lt;div class=&quot;container-fluid&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-sm-12&quot;&gt;
            &lt;div class=&quot;card&quot; *ngFor=&quot;let item of feather&quot;&gt;
                &lt;div class=&quot;card-header&quot;&gt;
                    &lt;h4 class=&quot;m-b-0&quot;&gt;{{item.title}}&lt;/h4&gt;
                &lt;/div&gt;
                &lt;div class=&quot;card-body&quot;&gt;
                    &lt;div class=&quot;row icon-lists feather-icons&quot;&gt;
                        &lt;div class=&quot;col-12 col-sm-6 col-xl-4&quot; *ngFor=&quot;let data of item.icons&quot; (click)=&quot;toggleWithInfo(data)&quot;&gt;
                            &lt;div class=&quot;d-flex&quot;&gt;
                                &lt;app-feather-icons [icons]=&quot;data&quot;&gt;&lt;/app-feather-icons&gt;
                                &lt;div class=&quot;flex-grow-1 align-self-center&quot;&gt;
                                    &lt;h6 class=&quot;mt-0&quot;&gt;{{data}}&lt;/h6&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;icon-hover-bottom p-fixed&quot; *ngIf=&quot;detail&quot;&gt;
    &lt;div class=&quot;container-fluid&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;icon-popup&quot;&gt;
                &lt;div class=&quot;close-icon&quot;&gt;
                    &lt;i class=&quot;icofont icofont-close&quot; (click)=&quot;detail=false&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                &lt;div class=&quot;icon-first&quot;&gt;
                    &lt;app-feather-icons [icons]=&quot;icon&quot;&gt;&lt;/app-feather-icons&gt;
                &lt;/div&gt;
                &lt;div class=&quot;icon-class&quot;&gt;
                    &lt;label class=&quot;icon-title&quot;&gt;data-feather&lt;/label&gt;&lt;span id=&quot;fclass1&quot;&gt;{{icon}}&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class=&quot;icon-last icon-last&quot;&gt;
                    &lt;label class=&quot;icon-title&quot;&gt;Markup&lt;/label&gt;
                    &lt;div class=&quot;form-inline&quot;&gt;
                        &lt;div class=&quot;form-group mb-0&quot;&gt;
                            &lt;input class=&quot;inp-val form-control m-r-10&quot; id=&quot;input_copy&quot; type=&quot;text&quot; value=&quot;{{val}}&quot;
                                readonly=&quot;readonly&quot;&gt;
                            &lt;button class=&quot;btn btn-primary notification&quot; (click)=&quot;copyText(icon)&quot;&gt;Copy text&lt;/button&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
            <p>you have add ts files</p>
            <div class="code-box-copy">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#feather11" title="Copy"><i
                  class="fa fa-files-o"></i></button>
              <pre><code class="language-html" id="feather11">
     import { Component } from '@angular/core';
import { allIcon } from '../../../shared/data/data/icons/font-awasome';
import { ToastrService } from 'ngx-toastr';

@Component({
  selector: 'app-feather-icon',
  templateUrl: './feather-icon.component.html',
  styleUrls: ['./feather-icon.component.scss']
})

export class FeatherIconComponent {

  public feather = allIcon.feather;
  public detail: boolean = false;
  public flag: string;
  public val: string;
  public icon: string;

  constructor(public toastrService: ToastrService) { }

  toggleWithInfo(icon: string) {
    this.detail = true;
    this.icon = icon;
    this.val = '<app-feather-icon [icon]="' + icon + '"></app-feather-icon>';

  }
  copyText(val: string) {
    let selBox = document.createElement('textarea');
    selBox.style.position = 'fixed';
    selBox.style.left = '0';
    selBox.style.top = '0';
    selBox.style.opacity = '0';
    selBox.value = '<app-feather-icon [icon]="' + val + '"></app-feather-icon>>';
    document.body.appendChild(selBox);
    selBox.focus();
    selBox.select();
    document.execCommand('copy');
    document.body.removeChild(selBox);
    this.toastrService.show('<p class="mb-0 mt-1">Code Copied to clipboard</p>', '', { closeButton: true, enableHtml: true, positionClass: 'toast-bottom-right' });
  }

}

</code></pre>
            </div>
            <p>feater icon data files</p>
            <div class="code-box-copy">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#feather12" title="Copy"><i
                  class="fa fa-files-o"></i></button>
              <pre><code class="language-html" id="feather12">
export class allIcon {

static feather = [
 {
     title: 'Feather Icons',
     icons: ["activity", "airplay", "alert-circle", "alert-octagon"]
    }
  ]
}
</code></pre>
            </div>
          </div>
        </div>
      </div>
      <div class="left-sidebar right-part">
        <aside>
          <ul class="list-unstyled nav-sidebar doc-nav">
            <li class="nav-item">
              <div class="title">On this page</div>
              <ul class="dropdown-nav ps-0">
                <li class="nav-item"><a class="nav-link" href="#section-1-1" data-original-title="" title=""><i
                      class="fa fa-angle-right me-2"></i> Flag icon</a></li>
                <li class="nav-item"><a class="nav-link" href="#section-1-2" data-original-title="" title=""><i
                      class="fa fa-angle-right me-2"></i>Font awesome</a></li>
                <li class="nav-item"><a class="nav-link" href="#section-1-3" data-original-title="" title=""><i
                      class="fa fa-angle-right me-2"></i>Ico icon</a></li>
                <li class="nav-item"><a class="nav-link" href="#section-1-4" data-original-title="" title=""><i
                      class="fa fa-angle-right me-2"></i>Themify</a></li>
                <li class="nav-item"><a class="nav-link" href="#section-1-5" data-original-title="" title=""><i
                      class="fa fa-angle-right me-2"></i>Feather</a></li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row footer-theme partition-f">
        <div class="col-12">
          Copyright 2023 © Mofi theme by pixelstrap
        </div>
      </div>
    </div>
  </footer>
</body>
<!-- latest jquery-->
<script src="../assets/js/jquery-3.5.1.min.js"></script>
<!-- Bootstrap js-->
<script src="../assets/js/bootstrap/popper.min.js"></script>
<script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script src="../assets/js/icons/feather-icon/feather.min.js"></script>
<script src="../assets/js/icons/feather-icon/feather-icon.js"></script>
<!-- popover js-->
<!-- code copy box js-->
<script src="../assets/js/prism/prism.min.js"></script>
<script src="../assets/js/clipboard/clipboard.min.js"></script>
<script src="../assets/js/custom-card/custom-card.js"></script>
<script src="../assets/js/tooltip-init.js"></script>
<script src="../assets/js/document/main.js"></script>
<script src="../assets/js/script.js"></script>

</html>